services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.5
    command: ["start-dev", "--import-realm"]
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD:  ${KEYCLOAK_ADMIN_PASSWORD}

    ports: ["8080:8080"]
    volumes:
      - ./keycloak/realm-export:/opt/keycloak/data/import
    networks: [devnet]

  sqldb:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: ${SA_PASSWORD}
      DB_NAME: ${DB_NAME}
      MSSQL_PID: "Developer"
    ports: ["1438:1433"]
    volumes:
      - sqldb_data:/var/opt/mssql
      - ./sqlserver/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql:ro
      - ./sqlserver/entrypoint.sh:/usr/local/bin/entrypoint.sh
    command: /bin/bash /usr/local/bin/entrypoint.sh
    networks: [devnet]
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P $${SA_PASSWORD} -C -Q 'SELECT 1' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  otel:
    image: otel/opentelemetry-collector:0.99.0
    command: ["--config=/etc/otelcol/config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol/config.yaml:ro
    ports: ["4317:4317","4318:4318"]
    networks: [devnet]

networks:
  devnet:
    driver: bridge

volumes:
  sqldb_data:
    driver: local
