:host {
    .stat {
        width: 260px;
        min-height: 110px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .small {
            color: var(--muted);
            font-weight: 600;
        }

        .val {
            font-size: 28px;
            font-weight: 800;
        }

        .delta {
            &.positive {
                color: var(--success);
            }
            &.negative {
                color: var(--danger);
            }
        }
    }
}