// :host {
//     display: inline-block;
// }

.btn {
    background: var(--accent);
    color: #fff;
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    transition: background 0.2s;

    &:hover,
    &:focus {
        background: var(--accent-hover, darken(var(--accent), 10%));
    }
}